<main class="tr_wrapper">
  <h1 class="title_h1">What's Trending Near You</h1>

  <% if user_signed_in? %>
    <%= render 'form', photo: @photo %>
  <% end %>

  <%= react_component 'Map',
      props:  {
                token:        ENV['MAPBOX_TOKEN'],
                coordinates:  @coordinates,
                photos:       @photos,
              } %>
</main>
