<h1> Wilson = Winston = Waldo </h1>

<%= render 'form', photo: @photo %>

<% @photos.each do |photo| %>
  <%= link_to photo_path(photo.id) do  %>
    <%= image_tag photo.image if photo.image.attached? %>
  <% end %>
<% end %> 