<h1> Wilson = Winston = Waldo </h1>

<% if user_signed_in? %>
  <%= render 'form', photo: @photo %>
<% end %>

<ul>
  <% @photos.each do |photo| %>
    <li>
      <%= link_to photo_path(photo.id) do  %>
        <%= image_tag photo.image if photo.image.attached? %>
      <% end %>
    </li>
  <% end %> 
</ul>
