<main class="tr-wrapper">
  <%= react_component 'Map',
      props:  {
                token:            ENV['MAPBOX_TOKEN'],
                showList:         true,
                showMarkers:      true
              } %>
</main>
