<main class="tr-wrapper">
  <h1 class="title-h1"><%= @criteria %> Photos</h1>

  <%= react_component 'Map',
      props:  {
                token:            ENV['MAPBOX_TOKEN'],
                showList:         true,
                showMarkers:      true
              } %>
</main>
