<main class="tr-wrapper">
  <h1 class="title-h1">What's Trending Near You</h1>

  <%= react_component 'Map',
      props:  {
                token:        ENV['MAPBOX_TOKEN'],
                coordinates:  @coordinates,
                photos:       @photos,
                navigation: false,
                photoList: true
              } %>
</main>
