<link href="https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap" rel="stylesheet">

<h1>Wynwood Wall Pictures</h1>

<div id="detail_wrapper">
  <div id="detail_image">
    <%= image_tag @photo.image, height: '450'%>
  </div>
  <div id="longlat">
    <p>
      Latitude: <%= @photo.image.blob.metadata["latitude"] %>
    </p>
    <p>
      Longitude: <%= @photo.image.blob.metadata["longitude"] %>
    </p>
    <p>
      112 visits
    </p>
    <p>
      Posted by: some@guy.com
    </p>
  </div>

  <%= link_to "Back", photos_url %>
</div>