<h1>Wynwood Wall Pictures</h1>

<div id="detail-wrapper">
  <div id="detail-image">
    <%= image_tag @photo.image, height: '450'%>
  </div>
  <div id="detail-info">
    <p>
      <%= @photo.visits.count %> visits
    </p>
    <p>
      Posted by: some@guy.com
    </p>
  </div>
  <div id="detail-map">
    <%= react_component 'Map',
        props:  {
                  token:            ENV['MAPBOX_TOKEN'],
                  showNavigation:   true,
                  photo:            @photo,
                  showList:         true
                } %>
  </div>
</div>
