<h1>Wynwood Wall Pictures</h1>

<div id="detail-wrapper">
  <div id="detail-image" class="tr-section" style="width: 600px, place-items: center">
    <%= image_tag @photo.image, height: '450'%>
  </div>
  <div id="detail-info">
    <p>
      <%= @photo.visits.count %> visits
    </p>
    <p>
      Posted by: some@guy.com
    </p>
  </div>
  <h2>Photos Around This One</h2>
  <div id="detail-map">
    <%= react_component 'Map',
        props:  {
                  token:            ENV['MAPBOX_TOKEN'],
                  coordinates:      @coordinates,
                  showNavigation:   true,
                  photo:            @photo,
                  photos:           @nearby_photos,
                  showList:         true
                } %>
  </div>
</div>
