<main id="show-wrapper">
  <div id="show-image" class="tr-section" style="width: 600px, place-items: center">
    <%= image_tag @photo.image, height: '450'%>
  </div>
  <div id="show-info">
    <p>
      <%= @photo.visits.count %> visits
    </p>
    <p>
      Posted by: some@guy.com
    </p>
  </div>
  <div id="show-map">
    <%= react_component 'Map',
        props:  {
                  token:            ENV['MAPBOX_TOKEN'],
                  showNavigation:   true,
                  photo:            @photo,
                  showList:         true
                } %>
  </div>
</main>
