/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* { 
  -webkit-box-sizing: border-box;
  box-sizing:         border-box; 
  /* font-family:        'Montserrat', sans-serif; */
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("whitewall.jpg");
  margin: 0;
}

main {
  margin-top: 18vh;
}

h1 {
  font-family: 'Cutive Mono', monospace;
}

img {
  border-radius: 4px;
  object-fit:    cover;
}

a, p {
  margin: 0
}