#home-wrapper h1.title-h1 {
  text-align:   center;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

#home-wrapper ul.tr-list {
  list-style:            none;
  display:               grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items:           left; 
  padding:               0; 
  grid-row-gap:          20px;
}  

#home-wrapper ul.tr-list img {
  height:     275px;
  border:     solid 1px gray;
  box-shadow: 1px;
  margin:     5px;
}

#home-wrapper li.tr-list-item img {
  transition: all 0.3s;
}

#home-wrapper li.tr-list-item img:hover {
  transform: scale(1.03);
}

#home-wrapper .tr-list-item {
  width: 30%;
}

#home-wrapper li.tr-list-item a img {
  display:         grid;
  justify-content: center;
}

#home-wrapper .tr-section {
  width: 50vw;
  float: left;
}

#home-wrapper .map-container {
  height:   300px;
  position: fixed;
  right:    0;
  width:    50vw;
}

#home-wrapper ul.tr-list p {
  margin: 0;
}

#home-wrapper .tr-list-item .bottom-right {
  position: relative;
  bottom: 25px;
  right: -12px;
  color: white;
}

@media only screen and (max-width: 825px) {
  #home-wrapper .tr-section {
    width: 100%;
  }

  #home-wrapper .map-container {
    display: none;
  }

  #home-wrapper .tr-list-item .show-btn {
    display: none;
  }
}
