.dropzone {
  display: none;
  background: white;
  border-radius: 5px;
  border: 2px dashed rgb(0, 135, 247);
  border-image: none;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
}

.dropzone.dz-clickable * {
  cursor: pointer !important;
}

#uploadButton {
  position: relative;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  max-height: 41px;
  padding: 7px;
}

#uploadButton:hover {
  background-color: #eeeeee;
}

#uploadButton:focus {
  outline: none !important;
}

span.emoji {
  font-size: 20px;
  vertical-align: middle;
}