#detail-wrapper {
  display: grid;
}

#detail-info {
  text-align: center;
}

#detail-image {
  display: grid;
  place-items: center;
}

#detail-wrapper .map-container {
  width: 100%;
  height: 100vh;
}