.title {
  width: 45%;
}

.title svg {
  width: 100%;
}

.title #WynWaldo {
  stroke: fuchsia;
  stroke-width: 1px;
  fill: fuchsia;
  fill-opacity: 1;
  stroke-dasharray: 383px;
  stroke-dashoffset: 0px;
  align-content: center;
}

.title-animated  #WynWaldo{
  fill-opacity: 0;
  stroke-dashoffset: -800px;
  animation: title_stroke 1.5s linear forwards;
  animation-delay: 2s;
  align-content: center;
}

@keyframes title_stroke {
  0%  {stroke-dashoffset: -700px;}
  80%  {stroke-dashoffset:0;fill-opacity:0;}
  100%{stroke-dashoffset:0;fill-opacity:1;}
}
