h1.title-h1 {
  text-align:   center;
}

ul.tr-list {
  list-style:            none;
  display:               grid;
  grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
  justify-content:       center; 
  padding:               0; 
  grid-row-gap:          20px;
}  

ul.tr-list img {
  width:  300%;
  height: 275px;
  border: solid 1px gray;
}

li.tr-list-item img {
  transition: all 0.3s;
}

li.tr-list-item img:hover {
  transform: scale(1.03);
}

.tr-list-item {
  width: 30%;
}

li.tr-list-item a img {
  display:         grid;
  justify-content: center;
}

.tr-section {
  width: 60vw;
  float: left;
}

.map-container {
  width: 40vw;
  height: 300px;
}

.map-container.fixed {
  position: fixed;
}

.map-container.right {
  right: 0;
}
/* 
@media only screen and (max-width: 600px) {
  .tr-section {
    width: 100%;
  }

  .map-container {
    display: none;
  }
} */
